        body{
            color:white;
        }

        div {
            height: 250px;
            width: 100%;
            border: solid 1px;
            background-image: radial-gradient(rgb(159, 148, 226), rgb(70, 37, 107), rgb(16, 3, 53));
        }

        h1 {
            color: rgb(219, 138, 138);
        }
