<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1 style="text-transform: capitalize;">Welcome, <%= name %>!</h1>
    <p>This content is rendered dynamically using EJS in Express.</p>
</body>

</html>