:root {
  --bg-primary: #333;
  --txt-primary: #eee;

  --todo-completed: #F0E76F;
  --todo-completed-txt: #0D530E;

  --todo-pending: #FF7070;
  --todo-pending-txt: #C00707;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
  color: inherit;
  text-decoration: none;

  /* border: 1px solid red; */
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bg-primary);
  color: var(--txt-primary);
}