.todoCardStyle {
    width: 30%;
}

.todoCardWrapper {
    height: 30vh;
    width: 100%;
    padding: 1rem;
    border-radius: 0.25rem;
}

.todoCompleted {
    background-color: var(--todo-completed);
    color: var(--todo-completed-txt);
}

.todoPending {
    background-color: var(--todo-pending);
    color: var(--todo-pending-txt);
}

.idWrapper,
.userId,
.id {
    display: flex;
    align-items: center;
}

.userId,
.id {
    gap: 0.5rem;
    padding: 2rem 0;
    height: 15vh;
}

.idWrapper {
    gap: 1rem;
}